@font-face {
  font-family: PFDinTextCondPro;
  src: url(../fonts/PFDinTextCondPro-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: PFDinTextCondPro;
  src: url(../fonts/PFDinTextCondPro-Medium.ttf);
  font-weight: 500;
}

body {
  background: rgb(246, 246, 246);
  font-family: PFDinTextCondPro;
  font-size: 24px;
}

h1 {
  font-family: PFDinTextCondPro;
  font-weight: 400;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3) inset;
  color: #424242;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 24px;
}

b {
  font-weight: 500;
}

.card {
  background: #ffffff;
  box-shadow: 0 2px 6px rgba(0,0,0,.1);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 9px;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  font-size: 24px;
  color: #424242;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
  height: 100%;
  animation: appear .4s linear;
}

select.card option {
  text-align: center;
}

.cards.row {
  padding-top: 10px;
}

.cards div:first-child {
}

.card#add {
  font-size: 76px;
  line-height: 32px;
  padding: 16px 0 11px 0;
  color: #c8c8c8;
  cursor: pointer;
  outline: none;
}

.setall-btn {
  height: 30px;
  background-color: #3674a9;
  color: white;
  padding: 2px;
  cursor: pointer;
  outline: none;
  transition: all .2s;
}

.setall-btn:active {
  transition: all .2s;
  transform: scale(0.9);
}

#fire:active  {
  transition: all .2s;
  transform: scale(0.98);
}

.fee, .amount {
  font-weight: 500;
}

.fee::placeholder, .amount::placeholder {
  font-weight: 300;
}

.address {
  padding-left: 12px;
  padding-right: 12px;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

@media (max-width: 768px) {
  .cards div {
  }
  .setall div:first-child {
    display: none;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

.narrow {
  padding-top: 2px;
  padding-bottom: 0px;
}

.semi-narrow {
  padding-top: 8px;
  padding-bottom: 3px;
}

.separator {
  height: 35px;
}

#fire {
  background-color:  #3674a9;
  color: white;
  margin-bottom: 50px;
  outline: none;
  transition: all .2s;
}

#recalculate {
  background-color:  #3674a9;
  color: white;
  outline: none;
  transition: all .2s;
}

#recalculate:active {
  transition: all .2s;
  transform: scale(0.9);
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid white;
  display: inline-block;
  background: white;
  outline: none;
  box-shadow: 0 2px 6px rgba(0,0,0,.1);
  transition: all .1s;
}

input[type="checkbox"]:checked {
  background-color:  #3674a9;
  transition: all .1s;
}

.middle {
  display: inline-block;
  vertical-align: middle;
  line-height: 2;
  text-align: center;
}

a.receipt {
  text-decoration: none;
}

a {
  color:  #0051e5;
}

input[disabled] {
  text-decoration: line-through;
}

input.success, input.fail.success {
  background: #5eb98c;
}

.fail {
  background: #ef8f90;
}

img {
  vertical-align: middle;
}
